nav{
    display: flex;
    gap: 2rem;
    background-color: aliceblue;
};

.introducao{
    justify-content: center;
    background-color: antiquewhite;
    border: 1px solid;
}

.chart {
    width: 26%;
    display: flex;
}

.card-container{
    display: flex;
    justify-content: center;
    width: 80%;
}

.card{
    display: flex;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-section{
    width: 50%; 
    border-right: 1px solid lightgray;
}

.card-aside{
    width: 50%;
}

.card-img{
    width: 300px;
}

